*{
  box-sizing: border-box;
}

body{
  background-color: rgb(127,255,212);
}

header img{
  width: 100px;
}

main{
  height: calc(100vh - 150px);
}

div.big-squere{
  width: 450px;
  height: 450px;
  border: 2px solid black;
}

div.small-squere{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid black;
  cursor: crosshair;
}

div.small-squere.active{
  background-color: white;
}

footer{
  height: 50px;
}