*{
  box-sizing: border-box;
}

body{
  background-color: rgb(127,255,212);
}

header{
  height: 100px;
}

header img{
  height: 100px;
}

main{
  height: calc(100vh - 150px);
}

div.big-squere{
  width: 550px;
  height: 500px;
  border: 1px solid black;
}

div.small-squere{
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  cursor: crosshair;
}

div.small-squere.active{
  background-color: white;
}

footer{
  height: 50px;
}